<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".TrueWebApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrueWebApp">
        <activity
            android:name=".ui.component.main.account.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.component.login.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.login.WebViewActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.account.RewardsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.account.AddCardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.account.PaymentOptionsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.cart.CartActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.cart.PaymentActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.cart.OrderSuccessActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.cart.CheckOutActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.dashboard.ReferralActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.dashboard.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.dashboard.OrdersListActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.dashboard.NotificationDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.account.AddAddressActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.component.main.account.MyOrdersActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.account.EditAddressActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.component.main.account.CompanyAddressActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.account.ProfileActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.account.WalletActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.account.NotificationsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.account.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.account.ServicesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.account.RepDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.main.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ui.component.login.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.component.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>